<nav class="navbar navbar-static-top navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/images/logo.svg">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#" class="navbar__btn-ghost">Become a Belhost</a></li>
        <li><a ng-href="#">Account</a></li>
        <li><a ng-href="#">Help</a></li>
      </ul>
    </div>
  </div>
</nav>
