.navbar {
  color: black;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(74,73,74,0.23);
  margin-bottom: 0;

  .navbar__btn-ghost {
   border: 1px solid $color-dark;
   padding-top: 5px;
   padding-bottom: 5px;
   margin-top: 10px;
  }

  .nav > li > a:hover,
  .nav > li > a:focus {
    background: none;
  }
}

a {
  color: black;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

a:hover,
a:focus {
  color: $color-secondary;
  background: none;
}
