<div class="dashboard__hero">

    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header">
            <h1>There are fantastic meetings happening around Belfast</h1>
            <h3>Meet people, discuss about your interests and have fun</h3>
          </div>
        </div><!-- /.col-xs-12 -->
      </div>
      <!-- /row -->

      <form name="myForm" class="row">

        <div class="col-xs-7">
          <input type="text" class="form-control" placeholder="Search for a belstop...">
        </div>

        <div class="col-xs-3">
          <select name="mySelect" id="mySelect"
            ng-options="option.name for option in data.availableOptions track by option.id"
            ng-model="data.selectedOption" class="form-control"></select>
        </div>

        <div class="col-xs-2">
          <button class="btn btn-success" type="button">Go!</button>
        </div>

      </form>

    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="belmeeting in belmeetings">
      <div class="thumbnail" ui-sref="dashboard.belmeeting({ belmeetingId: belmeeting.pk})">
        <img src="assets/images/stops/{{belmeeting.pk}}.jpg">
        <div class="caption">
          <h3>{{belmeeting.topic}}</h3>
          <p><span class="label-category label-category-1">{{belmeeting.category}}</span></p>
          <p><i class="fa fa-clock-o" aria-hidden="true"></i> Date: {{belmeeting.datetime}}</p>
          <p><i class="fa fa-check" ng-if="belmeeting.owner"></i> Owner: {{belmeeting.owner}}</p>
        </div>
      </div>
    </div>


  </div>
  <!-- /row -->
</div>
